body {
    margin: 0;
    font-family: Montserrat, Arial, sans-serif;
    background: #f2f2f2;
}

header {
    background: #222;
    color: white;
    padding: 30px;
    text-align: center;
}

/* Secciones */
section {
    padding: 40px 20px;
    max-width: 900px;
    margin: auto;
}

h2 {
    padding-left: 10px;
}
.proyecto {
    background: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}
.ocultar {
    display: none;
}

/* Footer */
footer {
    background: #222;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
}
